#sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}

#sidebar span {
	color: red;
	font-weight: 800;
	margin-left: .5em;
}

#sidebar a {
	list-style: none;
	padding-left: 0;
	width: 80%;
}

#sidebar .item {
	border-radius: .2em;
	color: #222222;
	padding: .25em .5em .25em 2.5em;
}

#sidebar .header.item {
	padding-left: .5em;
}
#sidebar .header.item:first-child {
	margin-top: 0;
}

#sidebar .active {
	font-weight: 800;
	text-decoration: underline;
}

#sidebar .header.active {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

#sidebar .item:hover {
	background: #f7f7f7;
	font-style: italic;
}

#sidebar .header:hover {
	font-style: normal;
}
