/******************************************************************************/
/*                                                                            */
/*                                   LAYOUT                                   */
/*                                                                            */
/******************************************************************************/


.ads_create > div.columns {
	display: flex;
	flex-direction: row;
}

.ads_create > div.columns > div {
	display: flex;
	flex-direction: column;
}

.ads_create > div.columns > div section {
	background: #eff3fe;
	margin: 1em 2em 0 0;
	padding: 1em;
}
.ads_create > div.columns > div section:first-child {
	margin-top: 0;
	margin-bottom: 2em;
}

.ads_create > div.columns > section {
	background: silver;
	display: flex;
	flex-direction: column;
}

.ads_create > div.columns > section section {
	background: white;
	flex-grow: 1;
	margin: 1em .25em ;
	padding: 1em;
}


/******************************************************************************/
/*                                                                            */
/*                                 APPEARANCE                                 */
/*                                                                            */
/******************************************************************************/


section.gray .dropdown {
	display: block;
}
 
.ads_create aside {
	text-align: center;
}

.ads_create > div.columns > div section section > div {
	display: flex;
	flex-direction: row;
}

.ads_create > div.columns > div section section > div .input {
	width: 90%;
}

.lined input {
	background: transparent !important;
	border: none !important;
	border-bottom: 1px solid navy !important;
	border-radius: 0 !important;
}

.ads_create > div.columns > div section section > div .button {
	width: 10%;
}

.ads_create ol {
	list-style: none;
	padding: 0;
}

ol.buttons li {
	align-items: center;
	background: #ccc;
	display: flex;
	flex-direction: row;
	margin: 1em 0;
	padding: .25em 0 .25em .5em;
}

ol.buttons li span {
	margin-right: 1em;
	width: 90%;
}

ol.buttons li button {
	width: 10%;
}
