/*
 * 
 * LAYOUT
 * 
 */
.ads_copy > .columns {
	display: flex;
	flex-direction: row;
}

.ads_copy > .columns > section {
	margin-right: 2em;
	width: 50%;
}
.ads_copy > .columns > section:last-child {
	margin-right: 0;
}

/*
 * 
 * APPEARANCE
 * 
 */
.ads_copy > .columns > section {
	background: #eff3fe;
	padding: .5em;
}

.ads_copy > .columns > section header {
	padding: 2em 1em;
}

.ads_copy > .columns > section header h2 {
	margin: 0;
}

.ads_copy > .columns > section section {
	background: white;
	padding: 1em;
}
