.ads_groups_create > section {
	margin: 1em 0;
	padding: 2em;
}

#ad-group-demographics table {
	background: transparent;
	width: 100%;
}

#ad-group-demographics tr {
	background: unset !important;
}

#ad-group-demographics th {
	background: rgba(0, 0, 0, .1) !important;
}

#ad-group-demographics td {
	background: transparent !important;
}

#ad-group-demographics .ui.checkbox {
	display: block;
	width: unset!important;
}

#ad-group-demographics label {
	display: inline-block;
}
