.locations_actions_create > section {
	margin: 2em 1em;
}

.locations_actions_create > section header {
	padding: 2em 2em 0;
}

.locations_actions_create > section > div {
	padding: 0 2em 2em;
}

.locations_actions_create select {
	border: none;
	color: white;
	font-family: 'Montserrat';
	padding: .5em 1em;
}

.locations_actions_create ul {
	list-style: none;
	padding: 0;
}

.locations_actions_create li {
	margin: 1em 0;
}

.locations_actions_create input[type='radio'] {
	margin-right: .5em;
}

.locations_actions_create footer button {
	border: none;
	color: white;
	display: block;
	font-weight: 800;
	padding: 1em;
	text-transform: uppercase;
	width: 100%;
}
