.locations_fences_create .dropdown.bold {
	background: navy;
	color: white;
	padding: 1em;
}

.locations_fences_create .dropdown.bold .default {
	color: white !important;
	width: 13em;
}

#sample-zone {
	margin: 0 0 0 2em;
}

#fence-methods {
	list-style: none;
	padding: 0;
}

#fence-methods li {
	margin: 1em 0;
}
