.locations_zones_create > section {
	width: 70%;
	float: left;
	margin-top: 0 !important;
}

.locations_zones_create > aside > .buttons {
	display: flex;
}

.locations_zones_create > aside button:nth-child(1) { width: 80%; }
.locations_zones_create > aside button:nth-child(2) { width: 10%; }
.locations_zones_create > aside button:nth-child(2) { width: 10%; }
