#reports {
	padding: 2em;
}

#reports td,
#reports th,
#reports tr {
	background: transparent!important;
	border-right: none!important;
}

#reports th {
	text-align: left!important;
}

#reports tbody td {
	border-bottom: 1px solid rgba(0, 0, 0, .25);
}

#reports tbody tr:last-child td {
	border-bottom: none;
}
