#balance {
	margin-bottom: 3em;
}

#balance h2 {
	padding: 1em;
}

#balance h2 > span {
	align-items: center;
	display: flex;
	font-weight: 800;
}

#balance h2 > span:first-child {
	font-size: medium;
}

#balance h2 > span > span {
	font-size: xx-large;
	font-weight: 800;
	justify-content: right;
	text-align: right;
	width: 100%;
}

#balance h2 > span > span span {
	font-size: medium;
	font-weight: 400;
}

#balance section {
	border-left: 3px solid #f1f1f1;
	border-right: 3px solid #f1f1f1;
	padding: 2em;
}

#balance progress {
	display: block;
	margin: 1em 0;
	width: 100%;
}

#balance section p:last-child {
	color: #052146;
	text-align: center;
}

#balance aside {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 2em;
}

#balance button {
	border-radius: 0;
	font-size: large;
	font-weight: 800 !important;
	padding: 1em 0;
	width: 100%;
}

/********************/
/*                  */
/* SUMMARIES LAYOUT */
/*                  */
/********************/
.settings-billing > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.settings-billing > div > section {
	width: 48.5%;
}

.settings-summary {
	border-top: 12px solid #132e63;
	margin: 1em 0;
}

.settings-summary h2 {
	margin: 0 !important;
}

.settings-summary > div {
	border-left: 3px solid #f1f1f1;
	border-right: 3px solid #f1f1f1;
	padding: 1em 2em 0;
}

.settings-summary > div > div {
	display: flex;
	flex-direction: column;
	height: 13em;
	justify-content: center;
}

/************************/
/*                      */
/* SUMMARIES APPEARANCE */
/*                      */
/************************/
.settings-summary button {
	border-radius: 0 !important;
	display: block;
	margin-top: 0 !important;
	width: 100%;
}

figure.payment {
	margin: 0;
	width: 100%;
}

figure.payment img {
	float: left;
	margin-right: 1em;
}

figure.payment div {
	margin: 1em 0;
}

figure.payment div:last-child {
	font-weight: 800;
}
