.settings-lists > section {
	border-top: 3px solid #132e63;
	margin: 1em auto;
}

.fence-list {
	border-bottom: 3px solid #f1f1f1;
	border-left: 3px solid #f1f1f1;
	border-right: 3px solid #f1f1f1;
	display: block;
	margin: 0 auto;
	padding: 1em 10em;
}

/* Essentially duplicating .columns to save on markup in rendering. */
.fence-list tr {
	display: flex;
	flex-direction: row;
}

.fence-list tr > * {
	width: 50%;
}

.fence-list thead,
.fence-list tbody {
	display: block;
}

.fence-list thead {
	font-weight: 800;
	text-transform: uppercase;
}

.fence-list th:first-child,
.fence-list td:first-child {
	text-align: left;
}

.fence-list th:last-child,
.fence-list td:last-child {
	text-align: right;
}

.fence-list tbody {
	height: 10em;
	overflow-y: auto;
}


/*************************/
/*                       */
/* ADD NEW LIST - LAYOUT */
/*                       */
/*************************/


.add-new-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.add-new-list > div:first-child {
	border-left: 3px solid #f1f1f1;
	width: 25%;
}

.add-new-list > div:nth-child(2) {
	border-right: 3px solid #f1f1f1;
	width: 75%;
}

.add-new-list > div:last-child {
	border-bottom: 3px solid #f1f1f1;
	border-left: 3px solid #f1f1f1;
	border-right: 3px solid #f1f1f1;
	padding-right: 1em;
	padding-bottom: 1em;
	width: 100%;
	text-align: right;
}


/*****************************/
/*                           */
/* ADD NEW LIST - APPEARANCE */
/*                           */
/*****************************/


.uploads button {
	box-sizing: border-box !important;
	display: block !important;
	margin: 1em auto !important;
	padding: 2em 1em !important;
	width: 90% !important;
}

.import-lists {
	padding: 2em;
}

.import-lists > * {
	display: block !important;
	width: 85% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.import-lists h2 {
	font-size: medium;
}

.import-lists thead,
.import-lists tbody,
.import-lists tr {
	width: 100%;
}
.import-lists th,
.import-lists td {
	height: 25%;
}
