.settings-users section {
	border-bottom: 2px solid #f1f1f1;
	border-left: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
	border-top: 2px solid navy;
	margin: 1em;
	padding: 2em;
}

.settings-users table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 70%;
}

.settings-users th:nth-child(1),
.settings-users td:nth-child(2) {
	width: 40%;
}

.settings-users td:nth-child(3) {
	font-weight: 800;
}

.settings-users th {
	font-weight: 800;
	text-align: left;
	text-transform: uppercase;
}

.settings-users th,
.settings-users td {
	padding: .5em;
}

.settings-users tbody tr:nth-child(even) {
	background: #f1f1f1;
}
