.settings-card {
	background: white !important;
	border: 2px solid silver;
	border-top: 6px solid navy;
	position: relative;
}

.settings-card > button:first-child {
	position: absolute;
	top: 0;
	right: 0;
	background: navy;
	color: white;
	text-transform: uppercase;
	border: 0;
	font-weight: 800;
	padding: .5em 2em;
}

.settings-card .columns > div {
	padding: 1em;
}

.settings-card h2 {
	color: gray !important;
	margin: 0 !important;
	text-align: center !important;
}

.settings-card .labeled.input {
	display: flex;
	flex-direction: row;
	margin: .5em 0;
}

.settings-card .labeled.input .label {
	width: 30%;
}
.settings-card .labeled.input input {
	width: 70%;
}

.settings-card .img-preview {
	border: 1px solid navy;
}

.settings-card .img-preview div {
	align-items: center;
	background: url(http://localhost/LOGO_MAIN_LIGHT.png) no-repeat center center;
	background-size: contain;
	display: flex;
	flex-direction: column;
	min-height: 15em;
	justify-content: center;
}

.settings-card .img-preview button {
	background: navy;
	border: 0;
	color: white;
	display: block;
	font-weight: 800;
	padding: .5em 0;
	text-transform: uppercase;
	width: 100%;
}

.settings-card .confirm {
	justify-content: space-evenly;
}

.settings-card .confirm button {
	width: 30%;
}
