a:hover {
	color: red;
	cursor: pointer;
}
a.active {
	font-weight: bold;
}

.head_title{
    color: #db2728 !important;
    font-size: 18px;
    text-shadow: 1px 1px 1px #fff;
    letter-spacing: -1px;
    font-family: sans-serif;
}

.ui.vertical.menu .menu .item {
    font-size: 14px;
    font-family: sans-serif;

}
