/*
 * 
 * STRUCTURE
 * 
 */
#header {
	align-items: center;
	display: flex;
	height: 4em;
	margin: 0;
	position: relative;
}

#header h1 {
	align-items: center;
	display: flex;
	height: 100%;
	left: .5em;
	position: absolute;
	top: 0;
	margin: 0;
}

#header .input {
	display: block;
	margin: 0 auto;
	width: 60%;
}

#header .input input {
	width: 100%;
}

#header nav {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 12em;
	
}

#header .dropdown {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	padding: 0 .5em;
	width: 100%;
}

#user {
	align-items: center;
	display: flex;
	height: 100%;
}

#header nav .menu {
	width: 100%;
}


/*
 * 
 * COSMETICS
 * 
 */
#header {
	border-bottom: 1px solid #d9d9d9;
}

#header-search {
	background: #f3f3f3;
	border: none;
}

#user {
	font-weight: 800;
}

#header .dropdown.active {
	background: black;
	color: white;
}
/*
#header .row {
	padding: 0;
}

#header .logo {
	padding-left: 1rem;
}

#header .logo img {
	margin: 5px;
}

#header .search {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	width: 1000px;
}

#header .search .input {
	width: 75%;
}

#header-search {
	background: #f3f3f3;
	border: none;
}

#header .column > .dropdown {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0;
}
#header .column > .dropdown.active {
	background: black;
	color: white;
}

#user {
	align-items: center;
	background: transparent;
	border: none;
	border-radius: 0;
	display: flex;
	height: 100%;
	font-family: 'Montserrat';
	font-weight: bold;
	justify-content: center;
	margin: 0;
	width: 80% !important;
}
#header .column > .dropdown.active #user {
	color: white;
}

#header .dropdown.icon {
	display: block;
	height: 100%;
	margin: 0;
	padding: 1rem;
	width: 20%;
}

#header .menu {
	width: 100%;
}

#header .item {
	font-family: 'Montserrat';
	text-align: center;
}

.ui.dropdown .menu .active.item {
	font-weight: normal;
}
*/
