#body h1 {
	color: #052146;
	font-family: 'Montserrat';
	font-size: 3em;
	margin-top: 1em;
	text-transform: uppercase;
}

#body h1.highlighted {
	background: #eff3fe;
	padding: .25em 1em;
}

#body h1 button {
	background: none;
	color: red;
	font-size: .9em;
	margin: 0 .25em;
	padding: 0;
	vertical-align: baseline;
}

#chart {
	background: #f7f7f7;
	height: 400px;
}

#table-status {
	margin-top: 3em;
}

#table-status .label {
	background: none;
	font-family: 'Montserrat';
	font-weight: 400;
	padding-right: 0;
}

#table-status button {
	background: none;
	font-family: 'Montserrat';
	font-weight: 400;
	padding: 0 1em;
	text-transform: uppercase;
}

#table-status button:nth-of-type(2) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#body table.overview,
#body table.overview * {
	border: none;
}

#body table.overview abbr {
	font-weight: 800;
}

#body table.overview tbody td,
#body table.overview tfoot th {
	border-right: 2px solid silver;
}
#body table.overview tbody td:last-child,
#body table.overview tfoot th:last-child {
	border-right: none;
}

#body table.overview thead th {
	background: #f7f7f7;
	font-size: 1.3em;
	text-align: center;
}

#body table.overview tbody tr:nth-child(odd) {
	background: #f7f7f7;
}

#body table.overview tfoot th {
	background: #323232;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}
