body {
	height: 100%;
}

#root {
	height: 100%;
}

#login {
    background-color: #122e65;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

#login * {
    font-size: 17px;
}

#login section {
	background: white;
	padding: 3em;
	width: 650px;
}

#login img {
	display: block;
	margin: 0 auto 2em auto;
}

#login form {
	margin: 0 auto;
	width: 75%;
}

#login input {
	background: #eff4ff;
}

#login nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1em 0;
}

#login nav a {
	color: #122e65;
	font-size: 14px;
	font-weight: 800;
}

#login nav div a:first-child {
	border-right: 1px solid #122e65;
	margin-right: .5em;
	padding-right: .5em;
}

#login p {
	text-align: center;
	font-size: 14px;
	color: gray;
	margin-top: 3em;
}
