@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

*:focus {
	outline: none;
}


/******************************************************************************/
/*                                                                            */
/*                                   LAYOUT                                   */
/*                                                                            */
/******************************************************************************/


#header {
	min-width: 1250px;
}

#body {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1000px;
}

@media (max-width: 1450px) {
	body {
		overflow-x: scroll;
	}
	
	#body {
		margin: 0 0 0 250px;
	}
}

#sidebar {
	left: 0;
	padding-right: 0;
	position: absolute;
	top: 6em;
	width: 250px;
	z-index: 2;
}

.columns {
	display: flex;
	flex-direction: row;
}

.columns > * {
	width: 50%;
}

.columns > *.centered {
	align-items: center;
	display: flex;
	justify-content: center;
}
.centered.row { flex-direction: row; }
.centered.column { flex-direction: column; }


/******************************************************************************/
/*                                                                            */
/*                                 APPEARANCE                                 */
/*                                                                            */
/******************************************************************************/


button.primary {
	background: #e12116!important;
	text-transform: uppercase !important;
}
button.primary:hover { background: #cc1d14 !important; }
button.primary:active { background: #ba1b12 !important; }

button.secondary {
	background: #606060!important;
	text-transform: uppercase !important;
}
button.secondary:hover { background: #575757 !important; }
button.secondary:active { background: #4d4d4d !important; }

.hyloq-blue {
	background: #eff3fe;
}

.hyloq-gray {
	background: #f7f7f7;
}

.hyloq-red {
	background: #e12116;
}

.hyloq-white {
	background: #f8f9fe;
}

section.window {
	padding: 3px !important;
}
section.window > *:first-child {
	align-items: center;
	background: #eff3fe;
	display: flex;
	padding: 1em;
}

section.window > *:nth-child(2) {
	background: white;
	padding: 1em;
}

section.open {
	background: transparent !important;
}

ui.input.lined label,
label.lined {
	font-weight: 800;
}
ui.input.lined label::after,
label.lined::after {
	content: ':';
	margin-right: 1em;
}

.ui.input.lined input,
input.lined {
	background: transparent;
	border: none;
	border-bottom: 1px solid #052146;
	border-radius: 0;
	padding: .5em;
	width: 33%;
}

.ralign {
	margin-top: 2em;
	text-align: right;
}

.ralign button {
	border-radius: 0!important;
	font-family: 'Montserrat' !important;
	font-weight: 800!important;
	text-transform: uppercase!important;
}

select.hyloq {
	background: #062046;
	border: 0;
	color: white;
	font-family: 'Montserrat';
	padding: .5em .25em;
}

select.hyloq option {
	background: white;
	color: black;
}
