#body > section {
	background: #eff3fe;
	margin: 1em 0;
	padding: 2em;
	position: relative;
}

#body > section header h2,
#body > section header p {
	display: inline-block;
	font-size: large;
	margin-bottom: 0;
}

#body > section header h2::after {
	content: ':';
	margin-right: .2em;
}
#body > section header h2:last-child::after {
	content: '';
	margin: 0;
}

#body div.Grid {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#body .Grid > * {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	width: 50%;
}

#body .Grid p:nth-of-type(n+2) {
	border-top: 1px solid #052146;
	padding-top: 1em;
}

#body .Grid > *:nth-child(n+2) {
	border-left: 1px solid #052146;
}

#body > section label {
	font-weight: 800;
	margin-right: 1em;
}

#body > section input[type="text"] {
	background: transparent;
	border: none;
	border-bottom: 1px solid #052146;
	border-radius: 0;
	padding: .5em;
	width: 33%;
}

#body > section .ui.radio {
	margin: .25em;
	width: 24em;
}

#body > section .ui.dropdown.multiple {
	display: block;
	width: 100%;
}

.freq {
	margin: 1em 0;
}

.freq .ui.radio {
	display: block;
	margin: .25em;
	width: 100%!important;
}

.freq .ui.dropdown.inline,
.freq input {
	margin: 0 .5em;
}
