.campaigns-create .columns2 {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.campaigns-create .columns > * {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	width: 50%;
}

.campaigns-create .columns p:nth-of-type(n+2) {
	border-top: 1px solid #061f46;
	padding-top: 1em;
}

.campaigns-create .columns > *:nth-child(n+2) {
	border-left: 1px solid #061f46;
}

.campaigns-create .ui.radio {
	margin: .25em;
	width: 24em;
}

.campaigns-create .ui.dropdown.multiple {
	display: block;
	width: 100%;
}

#ad-rotation ul {
	padding: 0;
	list-style: none;
}

#ad-rotation select {
	margin-right: .5em;
}

#ad-rotation input {
	margin: 0 .5em;
	padding: .5em 0;
}

#ad-rotation section p {
	margin-top: 2em;
}

.freq {
	margin: 1em 0;
}

.freq .ui.radio {
	display: block;
	margin: .25em;
	width: 100%!important;
}

.freq .ui.dropdown.inline,
.freq input {
	margin: 0 .5em;
}
